<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EventsApp</title>
<link rel="stylesheet" href="../../scripts/lib/bower/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../scripts/lib/bower/bootstrap/dist/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="../../styles/app.css" />
<script src="../../scripts/lib/bower/jquery/dist/jquery.min.js"></script>
<script src="../../scripts/lib/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src =""></script>