strong {
    font-weight: 600;
}

.ea-badge-text {
    vertical-align: middle;
}

.ea-well-vote {
    margin-bottom: 0px;
    padding: 7px 8px;
}

.ea-event-session:hover {
    cursor: pointer;
    color: #6495ed;
}

.ea-badge-up {
    background-color: #494a49;
}

.ea-badge-down {
    background-color: #afa7a7;
}

.page-loader {
    background-image: url('http://www.brickhousesecurity.com/images/brickhousesecurity/en_us/local/localgraphics/loading.gif');
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
