*{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/*Common*/
body {
    font-family: 'Segoe UI';
    padding-bottom: 70px;
}


/*Tables*/
.layout-fullw {
    width: 100%;
}

.layout-table {
    display: table;
}

.layout-table-row {
    display: table-row;
    width: 100%;
}

.layout-table-cell {
    display: table-cell;
    padding: 5px;
}

.fixed-40 {
    width: 40px;
}

/*Semantics*/
