/*Margins*/

.flush-top {
    margin-top: 0px;
}

.flush-bottom {
    margin-bottom: 0px;
}

.flush-right {
    margin-right: 0px;
}

.flush-left {
    margin-left: 0px;
}

.shim-top {
    margin-top: 5px;
}

.shim-bottom {
    margin-bottom: 5px;
}

.shim-right {
    margin-right: 5px;
}

.shim-left {
    margin-left: 5px;
}

/*Paddings*/

.flushp-top {
    padding-top: 0px;
}

.flushp-bottom {
    padding-bottom: 0px;
}

.flushp-right {
    padding-right: 0px;
}

.flushp-left {
    padding-left: 0px;
}

.shimp-top {
    padding-top: 5px;
}

.shimp-bottom {
    padding-bottom: 5px;
}

.shimp-right {
    padding-right: 5px;
}

.shimp-left {
    padding-left: 5px;
}

/*Other*/

.vertical-center {
    vertical-align: middle;
}


.page-loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 1031; /*greater than bootstrap's footer*/
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}

