<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EventsApp</title>
    <link rel="stylesheet" href="../scripts/lib/bower/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../scripts/lib/bower/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../styles/bs-fixed.css" />
    <link rel="stylesheet" href="../styles/layout.css" />
    <link rel="stylesheet" href="../styles/elements.css" />
    <script src="../scripts/lib/bower/jquery/dist/jquery.min.js"></script>
    <script src="../scripts/lib/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../scripts/lib/bower/angular/angular.min.js"></script>
    <script src="../scripts/app/app.js"></script>
</head>
<body ng-app="eventsApp">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ea-navbar-collapse-main" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">EventsApp</a>
                </div>
                <div class="collapse navbar-collapse" id="ea-navbar-collapse-main">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="event.html">Event</a></li>
                        <li><a href="#">Page 3</a></li>

                        <inlcude xsrc="dfdfdf.htm">

                        </inlcude>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Events</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="navbar-text">Markit</p>
                <p class="navbar-text navbar-right navbar-right-fixed">Vibhor Agarwal</p>
            </div>
        </nav>
    </footer>

</body>
</html>