<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EventsApp</title>
    <link rel="stylesheet" href="../scripts/lib/bower/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../scripts/lib/bower/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../styles/app.css" />
</head>
<body>
    <script src="../scripts/lib/bower/jquery/dist/jquery.min.js"></script>
    <script src="../scripts/lib/bower/bootstrap/dist/js/bootstrap.min.js"></script>

    <div class="container">
        <header>
            <h1>Events App</h1>
        </header>
        <nav>
            <a href="#">Home</a>
            <a href="../views/home.html">Events</a>
            <a href="../views/home.html">Events</a>
        </nav>
        <section></section>
        <section></section>
        <aside></aside>
        <footer>
            <h2></h2>
        </footer>
    </div>
</body>
</html>